// search 모달창
.searchModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #fff;
  z-index: 200;

  .searchForm {
    display: flex;
    justify-content: space-around;
    width: 640px;
    height: 70px;
    max-width: 640px;

    .searchInputWrap {
      position: relative;
      margin: 14px 0px;
      flex: 1 1 0%;

      .searchInput {
        background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/search.png')
          18px center / 18px no-repeat rgb(239, 240, 244);
        background-position-x: 12px;
        width: 100%;
        height: 42px;
        padding: 13px 38px;
        border-radius: 21px;
        font-size: 16px;
        border: 0px;
        caret-color: rgb(200, 201, 204);
      }
      .resetBtn {
        background: url('https://jotasic.github.io/21-kaka0-pet-shop-images/images/icon_search_remove.png')
          0% 0% / 18px no-repeat;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 18px;
        height: 18px;
      }
    }
    .searchCloseBtn {
      width: 54px;
      height: 70px;
      font-size: 15px;
      color: rgb(26, 26, 26);
      font-weight: 500;
      line-height: 1.47;
    }
  }
  .searchBottomWrap {
    width: 640px;
    max-width: 640px;
    overflow: hidden auto;
    border-top: 1px solid rgb(227, 229, 232);

    .searchResultWrap {
      padding: 16.5px 0px 46px;
      width: 640px;

      .searchResult {
        padding: 6.5px 20px;
        font-size: 16px;
        display: block;
        color: rgb(26, 26, 26);
      }
    }
  }
}
