.filterModalWrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
  opacity: 0.2;
  transition: opacity 0.3s ease 0s;

  &.dim {
    opacity: 1;
  }

  .filterModal {
    position: absolute;
    width: 640px;
    height: auto;
    inset: auto 0px 0px;
    margin: 0px auto;
    transform: none;
    background: rgb(255, 255, 255);
    border: 0px;
    outline: none;
    overflow: visible;

    .filterUl {
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      .filterLi {
        cursor: pointer;

        .fileterModalLink {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 13px 17px;
          font-size: 16px;
          line-height: 1.47;
          letter-spacing: -0.23px;
          color: rgb(154, 154, 158);
          background-color: rgb(255, 255, 255);

          &.hoverClass {
            background-color: rgb(247, 247, 247);
            color: rgb(0, 0, 0);
          }

          &:hover {
            background-color: rgb(247, 247, 247);
            color: rgb(0, 0, 0);
          }

          img {
            width: 20px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
