.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  margin: 45px auto 0;
  padding: 65px 20px 100px;
  background-color: #f2f2f2;

  .orderHistories {
    margin-bottom: 30px;

    .byDate {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}
